
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.girgit{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
body{
    background-image: linear-gradient(to right top,rgb(69, 198, 50),rgb(82, 76, 137));
}

.box{
    margin:30px;
    padding:20px;
    display:flex;
    justify-content:space-between;
}
#dholu{
    position:relative;
    right:20px;
    background-color:rgb(69, 198, 50);
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    margin-right:10px;
    color:#ffffff;
    font-size: 20px;
    padding:15px;
    border-radius:20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: "Noto Sans", sans-serif;
}
#bholu{
    position:relative;
    left:20px;
    background-color: rgb(82, 76, 137);
    margin-top:5px;
    margin-bottom:5px;
    margin-left:20px;
    margin-right:10px;
    color:#ffffff;
    font-size:20px;
    padding:15px;
    border-radius:20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: "Noto Sans", sans-serif;
}

h3{
    color:#ffffff;
    font-family: "Noto Sans", sans-serif;
    font-size: 25px;
    padding-bottom: 50px;
}

.copyCode{
    color:#ffffff;
    font-family: "Noto Sans", sans-serif;
    height:15vh;
    word-spacing:5px;
    width:25vw;
    position:relative;
    left:30px;
    background-image: linear-gradient(to right top, #cad7c800, #c0d9d30a, #bfd9df04, #c7d6e506, #d5d3e528);
    border-left:solid #ffffff;
    border-width: 5px;
    border-radius:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
@media screen and (max-width: 768px) {
    .box {
        flex-direction: column;
    }

    button {
        margin: 10px 0;
    }
    .copyCode{
        height:50vh;
        padding:50px;
    }
}